@media screen and (max-width:500px) {
    #searchbar{
        display: none;
    }
    #yt-logo {
        width:30%;
    }
    #profile{
        width:35%;
    }
    #yt-logo >div{
        height:50%;
    }
    #yt-logo >div:nth-child(1) i{
        font-size: 4.8vw;
    }
    #profile >div{
        height: 80%;
    }
        
    #profile >div i{
        font-size:5vw;
        margin:20%;
    }
    #sidebar,#main >div:nth-child(1){
        display: none;
    }
    #main{
        width: 100%;
    }
    .videos{
        height: 150vh;
        flex-wrap: wrap;
        margin: 0 0 10% 0;
    }
    .videos >div{
        width: 100%;
        height: 24%;
    }
    .video-card >div:nth-child(1){
        height: 80%;
    }
    .video-card >div:nth-child(2),.video-card >div:nth-child(3),.video-card >div:nth-child(4){
        height:20%;
    }
    .video-card >div:nth-child(2) >div{
        height: 80%;
        margin-top: 5%;
    }
    .video-card >div:nth-child(3) >p:nth-child(1){
        font-size: 3.5vw;
    }
    .video-card >div:nth-child(3) >p:nth-child(2){
        font-size: 3vw;
    }
    .video-card >div:nth-child(3) >p:nth-child(3){
        font-size: 3vw;
    }
    .short{
        height: 40vh;
        margin-bottom: 5%;
        /* margin: 10px 0; */
    }

    .short >div:nth-child(1){
        font-size:5vw;
        width:20%;
        height:10%;
    }
    .short >div:nth-child(2){
        height:85%;
    }
    .short >div:nth-child(2) > div:nth-child(4),
    .short >div:nth-child(2) > div:nth-child(4),
    .short >div:nth-child(2) > div:nth-child(2),
    .short >div:nth-child(2) > div:nth-child(1)
    {
        display: none;
    }
    .reel{
        width:30%;
        
    }
    .reel >div:nth-child(2),.reel >div:nth-child(3) {
        margin-top:0;
    }
    .reel >div:nth-child(4){
        /* margin-bottom: 5%; */
        justify-content: left;
    }

    .reel >div:nth-child(2) p{
        font-size:3vw;
    }
    .reel >div:nth-child(2){
        height:10%;
        width: 100%;
    }
    .reel >div:nth-child(3) {
        display: none;
    }

    .reel >div:nth-child(4) > p:nth-child(2){
        font-size: 2.5vw;
    }
    .reel >div:nth-child(4) > p:nth-child(3){
        display:none;
       
    }
}